<h1>Haco どこ？</h1><br><br>
<h2>出品場所一覧</h2><br>

  <table class="list">
  <thead>
    <tr>
      <th>Spot No.</th>
      <th>エリアno.</th>
      <th>スポット名</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody>
  <% @spots.each do |spot| %>
    <tr>
      <td><%= spot.id%></td>
      <td><%=spot.area_id %></td>
      <td><%=spot.spot_name %></td>
      <td><%= spot.address %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

  <div>
  
  </div>
