<div class="inner">
        <div class="card__wrapper">
          <div>
            <h1 class="page-heading">新着<br>HACO情報</h1>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">Title: Haco</h2>
              <p class="card__summary">
                Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes   
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">Title: Haco</h2>
              <p class="card__summary">
                Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">Title: Haco</h2>
              <p class="card__summary">
                Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">Title: Haco</h2>
              <p class="card__summary">
                Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">Title: Haco</h2>
              <p class="card__summary">
                Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  
              </p>
            </div>
          </div>
          <div class="card">
            <img src="./images/image.png" alt="" class="card__img" />
            <div class="card__body">
              <h2 class="card__title">Title: Haco</h2>
              <p class="card__summary">
                Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  Details of Boxes  
              </p>
            </div>
          </div>
        </div>
      </div>