
<div class="wrapper">
   <div class="side_menu">   
      <%= render "side_menu" %>
   </div>  
   
箱の設置場所

（エリア別一覧）

高松市

東讃

西讃

島エリア



    <%# <div class="main_page">
      <%= render "main_page" %>
    <%# </div> %> 

