
<section class="item">
  <a href="#">
  <%= image_tag("image_S_1.jpg", alt: "MAIN MENU")%>
  <div class="category">MAIN MENU</div>
  <p class="description">Lorem ipsum dolor sit amet, 
  consectetur adipiscing elit, sed do eiusmod tempor incididunt 
  ut labore et dolore magna aliqua. </p>
 </a>
</section>
<section class="item">
  <a href="#">
  <%= image_tag("image_S_2.jpg", alt: "SIDE MENU")%>
  <div class="category">SIDE MENU</div>
  <p class="description">Lorem ipsum dolor sit amet, 
  consectetur adipiscing elit, sed do eiusmod tempor incididunt 
  ut labore et dolore magna aliqua. </p>
 </a>
</section>
<section class="item">
  <a href="#">
  <%= image_tag("image_S_3.jpg", alt: "HOT TOPICS")%>
  <div class="category">HOT TOPICS</div>
  <p class="description">Lorem ipsum dolor sit amet, 
  consectetur adipiscing elit, sed do eiusmod tempor incididunt 
  ut labore et dolore magna aliqua. </p>
 </a>
</section>
<section class="item">
  <a href="#">
  <%= image_tag("image_S_4.jpg", alt: "FOR SWEETS")%>
  <div class="category">FOR SWEETS</div>
  <p class="description">Lorem ipsum dolor sit amet, 
  consectetur adipiscing elit, sed do eiusmod tempor incididunt 
  ut labore et dolore magna aliqua. </p>
 </a>
</section>
