.wrapper {
  display: flex;
}
.side-menu {
  background-color: #ece4c7;
  width: 300px;
  height: 100vh;
}
.main {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.header {
  background-color: #FFFFFF;
}

.main-header{
  height: 100px;
  background-color: #ece4c7;
}

.side-menu-header {
  height: 100px; 
  background-color: #DDDDDD;
}

/* sidemenuにeventリストアップ */
.areas {
  background-color: #ece6da;
  height: calc(100vh - 100px);
}

.events{
  background-color: #e4d5d5;
  height: calc(100vh - 100px - 90px);
}

.form {
  background-color: #DDDDDD;
  height: 90px;
}

