/* 表：一覧表示,詳細表示 */
h1 {
 font-size: 2rem; 
}

table.list, table.attr {
 font-size: 90%;
  width: 100%;
}

table.list th, table.attr th {
  background-color: rgb(32, 31, 20);
  color: white;
  font-weight: normal;
  font-size: 1rem;
}

table.list td, table.list th,
table.attr td, table.attr th {
   padding: 6px;
   font-size: 1.5rem;
}

table.list th {
  text-align: left;
}

table.attr th {
 text-align: right;
}

table.list td, table.attr td {
 background-color: rgb(220, 228, 228);
}